@model IEnumerable<Learning_site.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>My Courses</h2>

@foreach (var item in Model)
{
<div class="new-block">

    <div class="row">
        <div class="col-md-12">
            <h4>@Html.DisplayFor(modelItem => item.name)<span class="code-span">     @Html.DisplayFor(modelItem => item.code)</span></h4>
            <button  id="delete" class="btn btn-danger delete">@Html.ActionLink("Delete Course", "DeleteCourse", "Instructor", new { id = item.Id }, new { style = "text-decoration:none;color:#FFFFFF" })</button>
            <button class="btn btn-primary enrolled ">@Html.ActionLink("Show Enrolled Student", "ShowEnrolledStudent", "Instructor", new { id = item.Id }, new { style = "text-decoration:none;color:#FFFFFF" })</button>


        </div>

    </div>


</div>

}

<button class="btn btn-warning ">@Html.ActionLink("CreateCourse", "CreateCourse", "Instructor",null, new { style = "text-decoration:none;color:#FFFFFF" })</button>






<script>



    $('#delete').click(function () {
        // show when the button is clicked
        toastr.success('Course deleted');

    });

</script>


